[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
gevent-websocket = "*"
gunicorn = "*"
Flask = "*"
Flask-SocketIO = "*"

[dev-packages]

[requires]
python_version = "3.7"
