html, body {
    height: 100%;
}

#navbar{
    background-color: #303030;
}

#container{
    min-height: 100%;
    margin-top: 20px;
}

#list{
    padding-top: 10px;
}

#channel-list, #message-list {
    height: 60vh;
    overflow: auto;
    margin-bottom: 20px;
}

#message-list {
    padding-top: 10px;
}

#footer{
    font-size: 10px;
    color: darkgrey;
    bottom: 0;
    position: relative;
    margin-top: 40px;
}

#username, #channelname {
    color: lightskyblue;
}

#create, #button-send {
    width: 100%
}

.form-row {
    margin-bottom: 14px;
}

@media screen and (min-width: 500px) {
    #navbar{
        font-size:20px;
        font-weight: 400;
    }
}

@media screen and (max-width: 499px) {
    #container{
        font-size: 12px;
    }

    #navbar{
        font-size: 12px;
    }

    #channel-list {
        height: 15vh;
    }
}