html, body {
    height: 100%;
}

#navbar{
    background-color: #303030;
}

#container{
    min-height: 100%;
    margin-top: 20px;
}

#list{
    padding-top: 10px;
}

#channel-list, #message-list {
    height: 60vh;
    overflow: auto;
    margin-bottom: 20px;
}

#footer{
    font-size: 10px;
    color: darkgrey;
    bottom: 0;
    position: relative;
    margin-top: 40px;
}

#username, #channelname {
    color: lightskyblue;
}

#create, #button-send {
    width: 100%
}

#messages {
    border: none;
}

.form-row {
    margin-bottom: 14px;
}

#currency_modal {
    display: none;
    position: fixed;
    overflow: auto;
    margin: auto;
    top: 40%;
    padding: 0;
    height: auto;
    animation-name: animatetop;
    animation-duration: 0.5s;
}

@keyframes animatetop {
    from {top: 0%; opacity: 0}
    to {top: 40%; opacity: 1}
}

@media screen and (min-width: 500px) {
    #navbar{
        font-size:20px;
        font-weight: 400;
    }

    #currency_modal {
        width: 50%;
    }
}

@media screen and (max-width: 499px) {
    #container{
        font-size: 16px;
    }

    #navbar{
        font-size: 12px;
    }

    #channel-list {
        height: 16vh;
    }

    #currency_modal {
        width: 90%;
    }
}