<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chatterbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <!-- If the user has no display name, -->
    <div id="first">
        <h1 id="message"></h1>
        <form id="join">
            <input id="name" name="name" type="text" placeholder="Pick a display name" autocomplete="off" autofocus>
            <button type="submit">Join</button>
        </form>
    </div>

    <!-- If the user has a display name, -->
    <div id="second">

        <!-- Leave the chatbox -->
        <button id="leave">Leave</button>

        <!-- create a channel -->
        <div>
            <form action="{{ url_for('channel') }}" method="POST">
                <input type="text" name="channel" placeholder="Pick a channel name">
                <button type="submit">Create a new channel</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div>
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endwith %}
            </form>
        </div>

        <!-- channel list -->
        {% if channels %}
        <select>
            {% for channel in channels %}
            <option>{{ channel }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
    
</body>
</html>