{% extends "layout.html" %}

{% block modal %}
<div id="modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="join" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Choose your display name</h5>
        </div>
        <div class="modal-body">
            <input id="name" type="text" autocomplete="off" autofocus placeholder="Name">
            <button id="join" class="btn btn-primary">Join</button>
        </div>
        <div class="modal-footer">
            <h6 id="user_message"></h6>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div id="list" class="row justify-content-md-center">
    <!-- channels -->
    <div class="col-md-3">
        <h5 class="text-center">Channel list</h5>
        <div id="channel-list">
            <div class="list-group" id="list-tab" role="tablist">
            {% if channels %}
                {% for channel in channels %}
                <a href="#" class="channel list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab" data-channel="{{ channel }}">{{ channel }}</a>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-8">
                <input id="channel_name" class="form-control" type="text" autocomplete="off" placeholder="New channel">
            </div>
            <div class="col-4">
                <button id="create" class="btn btn-primary">Create</button>
            </div>
            <div id="channel_message"></div>
        </div>
    </div>
    <!-- messages -->
    <div class="col-sm-12 col-md-9">
        <h5 class="text-center">Chat room</h5>
        <div id="message-list" class="border border-dark">    
            <ul id="messages">
            </ul>
        </div>
        <div>
            <form class="form-row" id="send">
                <div class="col-9">
                    <input id="message" class="form-control" type="text" autocomplete="off" autofocus placeholder="Message">
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" type="submit" id="button-send">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-secondary" id="leave">Leave</button>
</div>
</div>
{% endblock %}

{% block dev %}
<hr>
<div>
    users: {{ users }}
    <br>
    channels: {{ channels }}
</div>
</div>
{% endblock %}